#veryfirst{
    background-color: rgba(0, 0, 0, 0.829);
    text-align: center;
    padding: 70px;
    margin-top: 10px;
    color: #fff;
}
#firstAbout{
    padding-top: 20px;
    padding-left: 60px;
}

#secondAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}
#secondAbout>div{
margin-left: 20px;
}
#innerSecond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-top: -8%;
}
#innerSecond>div{
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
    border-left: 5px solid #0884cc;
}
#innerSecond2{
  width:55% ;
}
#droping{
    color: black;
    height: auto;
    transition: height 0.4s;
    overflow: hidden;
    padding-left:  10px;
    padding-right: 20px;
   }
   #droping1{
    color: black;
    height: auto;
    transition: height 0.4s;
    overflow: hidden;
    padding-left:  10px;
    padding-right: 20px;
   }
   .homeServices{
    padding: 30px;
   }

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
#under1{
    width: 70%;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
}
#under2{
    width: 30%;
    padding: 10px;
    font-size: 18px;
}
#under2>div>ul>li{
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}
#under2>div>ul>li>a{
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}
#under2>div>ul>li>a:hover{
    color:#0884cc;
    padding-left: 10px;
    transition: 0.5s;
}
.under1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.under1>div>img{
    width: 300px;
    margin: 10px;
    margin-top: 120px;
    box-shadow: 2px 2px 10px rgb(153, 154, 156);
}
.under3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.under3>div{
    margin: 20px;
    font-weight: 600;
}
.under3>div>p{
    color: #0c6fa8;
}
.under3>div>ul>li{
    font-weight: 600;
    font-size: 18px;
}


   @media screen and (max-width:700px) {
    .homeServices{
        padding: 20px;
       }
       .under1{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    .under1>div>img{
        width: 100%;
        height: 300px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: -5px;
        box-shadow: 2px 2px 10px rgb(153, 154, 156);
    }
    #testimg{
        width: auto;
        margin: 30px;
        margin-top: 0;
        box-shadow: 2px 2px 10px rgb(153, 154, 156);
    }

   }
   @media screen and (max-width:900px) {
    .under3{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .under3>div{
        margin: 0;
        font-weight: 600;
    }
    
    #secondAbout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
    #secondAbout>div{
    margin-left: 0;
    }
    #innerSecond{
        width: auto;
        margin-top: 0;
    }
   
    #innerSecond2{
      width:auto ;
    }
    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    #under1{
        width:auto;
        padding: 10px;
        font-size: 20px;
    }
    #under2{
        width: auto;
        padding: 10px;
        font-size: 18px;
        display: none;
    }
    
   }